/* text-align: justify; spaces the text so that each line has equal width.
    text-align: center; centers the text
    text-align: right; right-aligns the text
    text-align: left; (the default) left-aligns the text. */

p{
        text-align: justify;
}
